*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img.jpg);
    background-position: top left;
    background-size: cover;
}
.container{
    background: #fff;
    width: 350px;
    height: 400px;
    margin: 80px auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 20px 1px #c7e2ff;
    overflow: hidden;
}
.steps{
    width: 350px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}
.steps #progress{
    position: absolute;
    height: 100%;
    width: 33.33%;
    background: linear-gradient(to right,#000,#7c7c7c);
    transition: width 0.6s;
}
.steps #progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid #7c7c7c;
    position: absolute;
    top: 0;
    right: -22px;
}
.step{
    width: 33.33%;
    text-align: center;
    color: #fff;
    position: relative;
}
h2{
    text-align: center;
    margin-bottom: 30px;
    color: #2c2c2c;
}
.container form{
    width: 280px;
    position: absolute;
    left: 30px;
    top: 100px;
    padding: 0 10px;
    transition: left 0.6s;
}
form input{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #a7a7a7;
}
::placeholder{
    color: #575757;
}
.btn{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.btn button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    background: linear-gradient(to right,#000,#7c7c7c);
    color: #fff;
    margin: 0 5px;
}
.btn button:hover{
    background: #000;
}
#form2{
    left: 450px;
}
#form3{
    left: 450px;
}